@use '../util/' as u;

.grid {
display: grid;
grid-template-columns: 1fr;
grid-template-rows: auto auto;
gap: u.rem(40);
//max-width: 1000px;
margin-inline: auto;
width: min(100% - u.rem(40), u.rem(1000));



@include u.breakpoint(large)  {
grid-template-columns: 2fr 1fr;
grid-template-rows: auto;
}



    &__main {
        background-color: hsl(271, 76%, 53%);

        @include u.breakpoint(medium) {
            background-color: hsl(316, 32%, 44%);
        }

        @include u.breakpoint(large) {
            background-color: hsl(271, 76%, 53%);
        }

    }

&__main, &__sidebar {                                                           
    padding: u.rem(50);
}

    &__sidebar{
       
        text-align: center;

        @include u.breakpoint-down(medium) {
            text-align: center;
        }
    }

    &__widget {
        $widget: &;
        background-color: hsl(300, 36%, 42%);
        //border: 1px solid aliceblue;
        padding: u.rem(16);

        &--purple {
            @extend #{$widget};
            background-color: hsl(271, 77%, 71%);
        }

    }
}                      